* {
  padding: 0px;
  margin: 0px;
  font-family: 'Roboto';
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #93c5fd;
}

.bg-container {
  background-color: #f8fafc;
  padding: 20px;
  border-radius: 10px;
}

.input-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

select {
  border: 1px, #cbd2d9, solid;
  padding: 5px;
  border-radius: 3px;
}

p {
  margin-left: 10px;
}

option {
  color: #323f4b;
}

.heading {
  margin-bottom: 20px;
}

.country {
  margin-top: 20px;
  color: #1e293b;
}
